<div class="dream">
    <% if (theme.dream.showTitle) { %>
    <div class="title center-align">
        <i class="far fa-lightbulb"></i>&nbsp;&nbsp;<%= theme.dream.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
            <i class="fa fa-plus-square fa-lg fa-fw text-color" ></i>
            <span id="jinrishici-sentence"><%= config.description %></span>
            +                  <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
        </div>
    </div>
</div>
